@using Domain.Models
@model IEnumerable<Member>

@{
    ViewData["Title"] = "Team Members";
}


@await Html.PartialAsync("Partials/Sections/_AddMemberForm", new AddMemberForm())

<section id="team-members">
    <header>
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </header>
    <div class="members-list">
        @if (Model != null)
        {
            foreach (var member in Model)
            {
                <div class="card member">
                    <h4 class="name">@member.FirstName @member.LastName</h4>
                    <div class="jobtitle">@member.JobTitle CEO</div>
                    <div class="email">@member.Email</div>
                    <div class="phone">@member.Phone +46070-123 45 67</div>
                    <div class="role"></div>
                </div>
            }
        }
    </div>
</section>
